
1_HR-Analysis/.ipynb_checkpoints/Data Cleaning David-checkpoint.ipynb
1_HR-Analysis/.ipynb_checkpoints/HR-Analysis Data Preparation \[Final\]-Copy1 - David-checkpoint.ipynb
1_HR-Analysis/.ipynb_checkpoints/HR-Analysis Modelling - David-checkpoint.ipynb
1_HR-Analysis/.ipynb_checkpoints/Model David-checkpoint.ipynb
1_HR-Analysis/.ipynb_checkpoints/New Dataset-checkpoint.ipynb
1_HR-Analysis/archive/aug_train.csv
1_HR-Analysis/archive/aug_train_new.csv
1_HR-Analysis/archive/AvgImputedDataset.csv
1_HR-Analysis/archive/AvgImputedDatasetNew.csv
1_HR-Analysis/archive/originalDataset.csv
1_HR-Analysis/archive/shuffled_encoded.csv
1_HR-Analysis/Data Cleaning David.ipynb
1_HR-Analysis/HR-Analysis Modelling.ipynb
1_HR-Analysis/Model David.ipynb
1_HR-Analysis/New Dataset.ipynb
1_HR-Analysis/archive/aug_train.csv
1_HR-Analysis/archive/originalDataset.csv
1_HR-Analysis/archive/shuffled_encoded.csv
1_HR-Analysis/HR-Analysis Modelling.ipynb
